.backgroundImg {
  width: 100%;
  height: 100vh;
  right: 0px;
  position: absolute;
  top: 0;
  margin: 0;
  z-index: -1;

}

#person {
  width: max(30%, 200px);
  padding: 5px;
  background-color: #ffffff;
  display: flex;
  margin: 10px;
  height: 65vh;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  text-align: center;


}

#footer {
  width: 100%;
  height: 100px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5c2b7;
}

#footer p {
  margin: 0;
  font-size: 20px;

}

#person h1 {
  margin: 0;
}

#person p {
  margin: 2px;
}

#team {
  background-color: #eddcd7;
}

#search {
  height: 40px;
  width: 60%;
  margin: 10px;
  outline: none;
  background-color: #fdf4f3;
  border: solid 1px #464545;
  padding: 4px;
  padding-left: 10px;
  border-radius: 25px;
  transition-duration: 0.3s;
  font-size: 25px;
  margin-right: 3px;
}

#searchb {
  margin: 10px;
  margin-left: 5px;
  height: 48px;
  padding: 10px;
  background-color: #f2d8d2;
  border: solid 1px #464545;
  border-radius: 25px;
  transition-duration: 0.3s;

}

#searchb i {
  font-size: 20px;
}

#searchb:hover {
  background-color: rgb(240, 226, 225);
  border-radius: 15px;
}

#search:focus {
  border-radius: 5px;
}

html,
body {
  height: 100vh;
  font-family: "Nunito", sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: -2;
}

.primary {
  margin: 5px;
  background-color: #e8c8c1;
  border: none;
  margin-right: 10px;
  padding: 6px 10px;
  transition-duration: 0.3s;
  font-size: 15px;
  border-radius: 10px;

}

.secondary {
  margin: 5px;
  background-color: #f8e6e2;
  border: none;
  margin-right: 10px;
  padding: 6px 10px;
  font-size: 15px;
  border-radius: 10px;
}

.primary:hover {
  background-color: #f2d8d2;
  border-radius: 25px;
}

.program {
  padding: 5px;
  background-color: #fef8f6;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  min-height: 25vh;
  transition-duration: 0.3s;
  margin-bottom: 20px;

}

.post {
  background-color: #fef8f6;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: max(40%, 200px);
  transition-duration: 0.3s;
  margin: 20px;
  margin-bottom: 10px;
  margin-top: 5px;
  min-height: 40vh;

}

.post p {
  color: rgb(83, 83, 83);
}

.post:hover {
  border-radius: 25px;

}

#blogfull {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  opacity: 0;
  left: 0;
  display: none;
  align-items: end;
  justify-content: center;
  z-index: 2000;
  background-color: rgba(20, 20, 20, 0.5);
}

#bimg {
  width: 100%;
}

#bcontentmain {
  width: 100%;
  max-width: 100%;
}

#exit {
  align-self: flex-start;
  padding: 5px 10px;
  border-radius: 10px;
  display: flex;
  color: rgb(100, 100, 100);
  flex-direction: row;
}

#exit p {
  transition: 0.2s;

}

#exit p:hover {
  color: rgb(15, 15, 15);
}

#bcontent {
  width: 70%;
  border-radius: 25px 25px 0px 0px;
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  background-color: rgb(250, 240, 240);
}

#bcontent::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.program:hover {
  border-radius: 25px;
}

/* .program div {
  border: 2px solid black;
} */
#main {
  display: none;
  padding: 20px;
}

.navBar {
  height: 70px;
  width: 100%;
  margin: 0;
  z-index: 100;
  position: relative;
  display: flex;
  align-items: center;
}

td,
tr,
table {
  border: solid 1px black;
}

td input {
  width: 90%;
}

#navLinks {
  margin-right: 5vw;
  margin-left: auto;
  display: flex;

  flex-direction: row;
  align-items: center;

}

#navLinks h4 {
  margin-left: 6vw;
  font-size: 22px;
  transition-duration: 0.5s;
  font-weight: 600;
  padding: 4px 15px;
  border-radius: 10px;
}

.navBar h1 {
  margin-left: 6vw;
  font-size: 30px;
  transition-duration: 0.5s;
  font-weight: 600;
  padding: 3px 5px;
  border-radius: 10px;
}

#mbar {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  font-size: 30px;
  margin-right: max(2%, 15px);
}

#mbar i {
  margin-left: 15px;
  font-size: 25px;



}

.navBar h1:hover {
  background-color: #f8ded8;
}

#navLinks h4:hover {
  background-color: #f8ded8;
}
.people {
  margin-top:10vh;
}
.main-container {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

}

.menulink {
  font-size: 35px;
  text-align: left;
  width: 100%;
  margin-left: 0;
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(233, 203, 195, 0.85);
  z-index: 90;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#mbar {
  display: none;
}

@media only screen and (max-width: 800px) {
  #navLinks {
    display: none;
  }

  #mbar {
    display: block;
  }

  #fmaindiv {
    width: 90vw !important;
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #fmain1 {
    font-size: 50px !important;
    line-height: 60px !important;

  }

  .navBar h1 {
    margin-left: 10px !important;
  }

  #bbig {

    font-size: 70px !important;
    line-height: 70px !important;
  }

  #fmain2 {
    font-size: 40px !important;
    line-height: 40px !important;
  }

  #fmain p {
    font-size: 15px !important;
    margin-top: 5px;
  }

  #psub {
    font-size: 20px !important;
    line-height: 25px !important;
    width: 80% !important;
  }

  .program {
    flex-direction: column;
    height: auto;
  }

  .program img {
    max-height: 20vh;
  }

  /* .program img {
    height:50% !important;
    width:100% !important;
  } */
  .sdiv {
    width: 90% !important;
  }

  #blogs {
    width: 100% !important;
  }

  .post {
    width: 70%;
    max-width: 400px;
  }

  #search {
    width: 70%;
  }

  #person {
    width: 80%;
  }

  .people {
    width: 95vw !important;
  }

  .backgroundImg img {
    height: 100vh !important;
    ;
  }

  #cmain {
    height: 89vh !important;
  }


}